.adminTabs {
  margin: 25px 0;
  min-height: 90vh;
}

.tabContent-1 {

  &-heading {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    & h3 {
      height: 100%;
      margin: 15px 0;
    }
  }
}