.heroIndex {
  min-height: 87.2vh;
  // BG Img
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // Grid
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  position: relative;

  &-weather {
    position: absolute;
    height: 50px;
    width: 200px;
    top: 0;
    left: 50px;

    background: rgba(255, 255, 255, 0.15);
    box-shadow: $box-shadow;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $black !important;
  }

  &-text {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
    width: 90%;
    margin: auto;
    color: $white !important;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &-title {
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &-substrate {
      font-family: $secondary-font;
      margin: 5px 0;
      font-weight: 200;
      font-size: 2.5rem;
      text-transform: uppercase;
      text-align: center;
      background-color: $primary-color;
      padding: 10px 15px;

      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 1110px) {
        font-size: 2rem;
      }

      @media (max-width: 1110px) {
        font-size: 1.5rem;
      }
    }
  }

  &-content {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    height: fit-content;
    width: 85%;
    margin: auto 25% auto 0;
    padding: 25px;

    // Glassmorphism (Mixin?)
    background: rgba(255, 255, 255, 0.15);
    box-shadow: $box-shadow;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 3px;

    & .bookingForm-wrapper {
      height: 100%;
      width: 100%;

      &-roomSelect, &-guestSelect {
        width: 100%;
        margin-bottom: 15px;
      }

      &-button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  @media (max-width: 800px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;

    &-text {
      grid-column: 1/1;
      grid-row: 1/1;
    }

    &-content {
      padding: 10px 25px;
      grid-column: 1/1;
      grid-row: 2/2;

      width: 80%;
      margin: 0 auto 25px;
    }
  }
}

.loading {
  height: 500px;
  width: 100%;
  margin: 0 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}