* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';

  overflow: auto !important;

  & a {
    border-radius: $border-radius;
  }
}

main {
  margin: 0 100px;
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-family: $secondary-font;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2,
h3,
h4 {
  font-weight: 600;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2.25rem;
}

p {
  font-family: $primary-font;
  font-size: 15px;
  font-weight: 400;
}

.link {
  color: $primary-color;
  text-decoration: underline;
  cursor: pointer;
}

.cardTitle {
  font-family: $secondary-font;
  font-size: 1.25rem;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  color: $white !important;
}

.flexCardtitle {
  font-family: $secondary-font;
  font-size: 1.25rem;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
}

.large {
  font-size: 2rem;
  position: relative;
  
  &::after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    border-bottom: solid 3px $primary-color;
    border-radius: 5px;
  }
}

.smallText {
  font-size: 0.85rem;
  font-weight: 300;
}

button, .button {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: $primary-color;
  font-family: $primary-font;
  text-transform: uppercase;
  color: $white;
  font-size: 1.15rem;
  font-weight: 400;
  padding: 15px 40px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  outline: none;

  & span {
    font-weight: 600;
  }
}

.staysCards {
  margin: 100px 0px 0px 275px;
  height: 100%;
  top: calc(50vh + 25px);
  position: absolute;
}

// Glassmorphism Cards
// .white-text {
//   font-family: $secondary-font;
//   font-size: 1rem;
//   font-weight: 600;
//   color: $white;
// }

// .white-heading {
//   font-family: $secondary-font;
//   font-size: 2.5rem;
//   font-weight: 600;
//   color: $white;
//   box-shadow: $box-shadow;
// }
