.popularStays {
  margin: 50px 0;

  & h2 {
    margin-bottom: 25px;
  }

  &-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px 0 50px 0;

    @media (max-width: 955px) {
      justify-content: center;
    }
  }

  &-card {
    margin: 25px;
    height: 325px;
    width: 325px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;

    &-rating {
      position: absolute;
      top: 10px;
      left: -10px;
      height: 35px;
      width: 85px;
      background-color: $primary-color;
      color: $white !important;
      box-shadow: $box-shadow;
      cursor: default;

      display: flex;
      justify-content: space-around;
      align-items: center;

      & svg,
      p {
        font-size: 1.25rem;
      }
    }

    &-info {
      position: absolute;
      bottom: -15px;
      right: -15px;
      height: 100px;
      width: 250px;

      // Make this a mixin?
      background: rgba(255, 255, 255, 0.15);
      box-shadow: $box-shadow;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);

      color: $white !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: default;

      &-bookmark {
        position: absolute;
        top: -10px;
        left: 5px;

        & svg {
          font-size: 2rem;
          color: $primary-color;
          cursor: pointer;
        }
      }

      &-text {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        color: $white !important;

        & p > span {
          font-weight: 500;
        }
      }

      @media (max-width: 1070px) {
        width: 225px;
      }
    }

    @media (max-width: 1330px) {
      height: 300px;
      width: 300px;
    }

    @media (max-width: 1250px) {
      height: 275px;
      width: 275px;
    }

    @media (max-width: 1175px) {
      margin: 20px;
      height: 250px;
      width: 250px;
    }

    @media (max-width: 1070px) {
      margin: 15px;
      height: 225px;
      width: 225px;
    }

    @media (max-width: 955px) {
      margin: 25px;
      height: 275px;
      width: 275px;
    }

    @media (max-width: 835px) {
      margin: 25px;
      height: 355px;
      width: 400px;
    }

    @media (max-width: 650px) {
      margin: 25px;
      height: 355px;
      width: 355px;
    }

    @media (max-width: 550px) {
      margin: 25px;
      height: 300px;
      width: 300px;
    }

    @media (max-width: 430px) {
      margin: 25px;
      height: 250px;
      width: 250px;
    }
  }
}
