.sidebar {
  width: 100px;
  height: 100vh;
  padding-top: 125px;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &-text p {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    padding: 25px 0 0 0;
    letter-spacing: 3px;
  }
}
