.staysContainer {
 margin: 100px 0px 0px 275px;
 top: calc(50vh + 25px);
 position: absolute;

  &-cards {
    height: 250px;
    width: calc(100vw - 500px);
    background-color: $dark-mode-grey;
    cursor: pointer;
  }

  &-modal {
    margin: 0;

    &-content {
      position: absolute;
      top: 50px;
      right: 15px;
      height: 90%;
      width: 300px;
      border: 1px solid red;
      background-color: $dark-mode-grey;
    }
  }
}

// modal Background
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: transparent;
}