// Colours
$primary-color: #547e77;
// Light mode
$light-mode: #ffffff;
$light-mode-grey: #f2f2f2;
// Dark mode
$dark-mode: #2e2e2e;
$dark-mode-grey: #151515;
// Standard
$black: #000000;
$white: #ffffff;

// Styles
$border: 1px solid $primary-color;
$border-radius: 3px;
$box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);

// Fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Oswald', sans-serif;
